body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap:0.5em;
  margin-top:50px;
  margin-left: 10px;
}

.carousel{
  display: grid;
  grid-template-columns: 18% auto;
  grid-gap: 1em;
  min-height: 500px
}
.imageGrid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  position: relative;
}
.activeImage{
  align-self: center;
  position: relative;
}

.sizebox{
  display :flex;
}

.backArrow {
  position: absolute;
  top: 50%; /* pushes the icon in the middle of the height */
  z-index: 5;
  display: inline-block;
  margin:2%;
}
.nextArrow{
  position: absolute;
  top: 50%; /* pushes the icon in the middle of the height */
  right:0;
  z-index: 5;
  display: inline-block;
  margin:2%;
}
.Infobar{
text-align: left;
margin :0 2%;
}
.sizeIcons{
  border-radius: 50%;
  border-color: #6b6a6a;
  border-width: 2px;
  border-style: solid;
  width:70px;
  margin:0 10px;
}

.offers div{
  margin-top:5%;
}
.description{
  color: #6b6a6a;
  font-style: italic;
}
.money{
  margin:5% 0;
}

.title{
  margin:0px
}
.heading{
  margin:10% 5% 10% 0;
}
.offers span{
  color:rgb(68, 173, 68);
  font-size: 1.3em
}
h2.price{
  margin:0px
}
.money{
  display: -webkit-flex;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.sizebox{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  text-align: center;
}
.sizeHeading{
  font-size: 1.2em;
  margin: 2% 2%;
}
.date{
  font-size: 1.2em
}
.picker{
  margin:10px;
}
.dropdown{
  margin:2% 0
}
@media only screen and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
    margin-left: 0px
  }
  .carousel{
    grid-template-columns:0% 100%;
    grid-gap: 0;
  }
}
